<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8">
    <title>Greška</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class='centrirano'>
        <h1>Došlo je do greške pri izvršenju akcije: {{ greska }}</h1>
        <a href="index.php" class='link_pocetna'>Povratak na početnu stranicu</a>
    </div>
</body>
</html>
