<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8">
    <title>Greška</title>
</head>
<body>
    <h1>Došlo je do greške pri izvršenju akcije</h1>
    <a href="index.php">Povratak na početnu stranicu</a>
</body>
</html>
