<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Uspeh</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class='centrirano'>
        <h1>Akcija uspešno izvršena</h1>
        <a href="index.php" class='link_pocetna'>Povratak na početnu stranicu</a>
    </div>
</body>
</html>
