<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class='centrirano'>    
        <h1>Dodaj vlasnika klinike</h1>
        <form method="post" action="../../rute.php?dodaj_vlasnika">
            Ime: <input type="text" name="ime"><br>
            Prezime: <input type="text" name="prezime"><br>
            Kontakt: <input type="text" name="kontakt"><br>
            <input type="submit" name="dodaj_vlasnika" value="Dodaj vlasnika">
        </form>
    </div>
</body>
</html>
