<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class='centrirano'>
        <h1>Dodaj medicinsku sestru</h1>
        <form method="post" action="../../rute.php?naredba=dodaj_medicinsku_sestru">
            <label for="ime">Ime</label>
            <input type="text" name="ime"><br>
            <label for="prezime">Prezime</label>
            <input type="text" name="prezime"><br>
            <label for="kontakt">Kontakt</label>
            <input type="text" name="kontakt"><br>
            <label for="korisnickoIme">Korisnicko ime</label>
            <input type="text" name="korisnickoIme"><br>
            <label for="lozinka">Lozinka</label>
            <input type="text" name="lozinka"><br>
            <input type="submit" name="dodaj_medicinsku_sestru" value="Dodaj medicinsku sestru">
        </form>
    </div>
</body>
</html>
