<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class='centrirano'>
        <h1>Dodaj doktora</h1>
        <form method="post" action="../../rute.php">
            <label for="ime">Ime</label>
            <input type="text" name="ime" value="dr. "><br>
            <label for="prezime">Prezime</label>
            <input type="text" name="prezime"><br>
            <label for="specijalnost">specijalnost</label>
            <input type="text" name="specijalnost"><br>
            <label for="korisnickoIme">Korisnicko Ime</label>
            <input type="text" name="korisnickoIme"><br>
            <label for="lozinka">Lozinka</label>
            <input type="text" name="lozinka"><br>
            <input type="submit" name="dodaj_doktora" value="Dodaj doktora">
        </form>
    </div>
</body>
</html>
