<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class='centrirano'>
        <h1>Promeni lozinku</h1>
        <form method="post" action="../../rute.php?naredba=promeni_lozinku">
            <label for="lozinka">Nova lozinka</label>
            <input type="text" name="lozinka"><br>
            <input type="submit" name="promeni_lozinku" value="SaÄuvaj izmene">
        </form>
    </div>
</body>
</html>